
@{
    ViewData["Title"] = "ForgetPassword";
}

@section Styles {
    <link href="~/css/authentication/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

}
@if (TempData["foundError"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["foundError"]
    </div>
}
@if (TempData["timeOut"] != null)
{
    <div class="alert alert-warning text-center" role="alert">
        @TempData["timeOut"]
    </div>
}
@if (TempData["errOtp"] != null)
{
    <div class="alert alert-warning text-center" role="alert">
        @TempData["errOtp"]
    </div>
}
<div class="row w-100 mx-auto justify-content-center mt-5 mb-3 ">
    <div class="col-lg-4 col-md-6 col-sm-10 shadow rounded-3 overflow-hidden bg-white p-4 p-md-5">

        <!-- Section -->
        <h2 class="text-center mb-4 fw-bold">Verify Your Details</h2>
        <form method="post">

            <!-- Username -->
            <div class="mb-3">
                <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required/>
            </div>

            <!-- Submit -->
            <button type="submit" class="btn w-100" id="register">Get Verification Code!</button>

            <!-- Social login -->
            <p class="text-center mt-3 mb-2 text-secondary">Our social media platforms</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="#" class="text-dark"><i class="fab fa-google fa-lg"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="#" class="text-dark"><i class="fab fa-facebook fa-lg"></i></a>
            </div>

            <p class="text-center mt-4 mb-0">
                Don't have an account?
                <a asp-action="Register" asp-controller="Authentication" class="text-primary text-decoration-none fw-semibold">Register</a>
            </p>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

