@model List<Education.Models.ContactClass>
@{
    Layout = "_UserSidebarLayout";
    ViewData["Title"] = "Contacts";
}
@{
    int count = 1;
}

<div class="container-fluid my-3 p-0 px-sm-2">
    <h2 class="text-center fw-bold mb-3">Your Contacts</h2>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Email</th>
                <th scope="col">Contact Messages</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.ContactEmail</td>
                    <td>@item.ContactMessage</td>
                    <td>@item.ContactDate</td>
                </tr>
                count++;
            }

        </tbody>
    </table>

</div>
