
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.card {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}
.card-body img {
}

.container2 {
    border-radius: 15px;
}

.chart-card {
    background: #ffffff !important;
    color: #000 !important;
    animation: fadeUp 0.8s ease forwards;
    opacity: 0;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Courses  */


.course-card {
    border-radius: 15px;
    /* border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px; */
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s ease;
}

    .course-card:hover {
        transform: translateY(-5px);
    }

.course-img {
    background-color: #5b2aff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.discount {
    color: #28a745;
    font-weight: 600;
}

.price {
    font-weight: 700;
    color: #6c63ff;
}

.btn-primary {
    background-color: #6c63ff;
    border: none;
    border-radius: 10px;
}

.btn-outline-primary {
    border-radius: 10px;
}

.course-details {
    font-size: 0.9rem;
    color: #555;
}

.badge-new {
    background-color: #ffcc00;
    color: #000;
}

